@model MVCRoseNoirDatabase.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Product Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllergenList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllergenList)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success p1" asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a>
    <a class="btn btn-secondary p1" asp-action="Index">Back to List</a>
</div>
