@model IEnumerable<MVCRoseNoirDatabase.Models.PaymentCard>

@{
    ViewData["Title"] = "Payment Cards";
}

<h1>Payment Details</h1>


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="bg-light">
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOnCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryMonth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOnCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryMonth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentCardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentCardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentCardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-outline-success" asp-action="Create">Add New</a>
</p>