@model MVCRoseNoirDatabase.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOrdered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOrdered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDespatched)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDespatched)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDelivered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDelivered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftsCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
