@model IEnumerable<MVCRoseNoirDatabase.Models.OrderItem>

@{
    ViewData["Title"] = "Order Items";
}

<h1>Product Ordered</h1>

<p>
    <a asp-action="Create">
        This page lists all the oderef items allows staff to edit existing details by adding new ones
    </a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOptionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOptionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <a class="btn btn-success p-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class ="btn btn-outline-info p-2" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger p-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
